*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lato';
    letter-spacing: 1px;
}

.container{
    width: 100%;
    background-color: #bcef2e;
    height: 100vh;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 35px;
    color: #e92121;
}

.box{
width: 1000px;
padding: 20px 0;
display: flex;
justify-content: center;
align-items:center;
}

input{
    width: 400px;
    height: 60px;
    padding: 15px;
    font-size: 22px;
    margin: 30px;
    text-align: center;
    background-color: #FFE3E3;
    border-radius: 7px;
    border: 3px solid #4B6587;
    outline: none;
}

#input::placeholder{
    color: #4B6587;
}

button{
    font-size:15px;
    padding: 8px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 25px;
    background-color: #ff4a4a;
    border: 2px solid #C9CCD5;
    color: #fff;
    outline: none;
}

#loading{
    display:none;
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 6px solid #ffffff26;
    border-top: 5px solid #fff;
    animation: loading 1s linear innfinite;
}

@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}